<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a matTooltip="Perfil" [matTooltipPosition]="'left'" routerLink="/profile" class="nav-link">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
            </ul>  
        </div>
    </div>
</nav>
