<div class="main-content">
    <div @fade class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card ">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Pesquisar Rescisão Contratual PDV</h4>
                    </div>
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CPF/CNPJ" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Protocolo" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Situação</mat-label>
                                        <mat-select>
                                            <mat-option>Teste</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                            <mat-label>Empresa</mat-label>
                                            <mat-select>
                                                <mat-option>Teste</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                            <mat-label>Tipo Solicitante</mat-label>
                                            <mat-select>
                                                <mat-option>Teste</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Solicitante" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="select-input">
                                            <mat-label>Fase</mat-label>
                                            <mat-select>
                                                <mat-option>Teste</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Responsavel" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-auto">
                                    <button mat-raised-button type="button" class="btn btn-sm btn-round btn-danger btn-block">Limpar</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button mat-raised-button type="button" class="btn btn-sm btn-round btn-primary btn-block">Novo</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button mat-raised-button type="submit" class="btn btn-sm btn-round btn-primary btn-block">Procurar</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>